<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
        <link 
        rel="stylesheet"  
        href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" 
        integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" 
        crossorigin="anonymous" 
        />
        <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
        crossorigin="anonymous"
        />
        <title>{% block title %}Home Page{% endblock %}</title>
        </head>
        <body>
            <style>
                body {
                  background-image: url('https://i.pinimg.com/originals/54/ba/1a/54ba1aebeb5c5c92105f430009db074c.jpg');
                  background-repeat: no-repeat;
                  margin-top: 1px;
                  background-position: 50% 30%;
                  color:rgba(0, 203, 105);
                }
                </style>
            <nav class="navbar navbar-default navbar-dark navbar-shrink">
                
                <button 
                class="navbar-toggler" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbar"
                >
                <span class="navbar-toggler-icon"></span>
                <a class="navbar-brand page-scroll" href="#page-top">My Textbook</a>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" id="login" href="/login">Login</a>
                        <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>   
                        <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
                        <a class="nav-item nav-link" id="home" href="/">Home</a>
                    </div>
                </div>
            </nav>


            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {%for category, message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-danger alert-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% else %}
                <div class="alert alert-success alert-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}



            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
            <script 
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
            ></script>

            <scrip 
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
            ></scrip>

            <script 
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
            ></script>


            <script type="text/javascript"
            src="{{ url_for('static', filename='index.js') }}"
            ></script>  
              
</body>
</html>